*{
    margin:0;
}
/*Text Related CSS */
h1{
    font-size:48px;
}
/*Class Related CSS */
.Header{
    background-image:linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url(EdgewoodCollege.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 65%;
    height:40vh;
    color:white;
}
.Header h1{
    padding:10%;
    text-align:center;
}
.Navbar a{
    float:right;
    padding:10px;
    display:inline;
    font-size:24px;
    text-decoration:none;
    color:white;
}
.Navbar a:hover{
    text-decoration:underline;
    color:grey;
}
