*{
    margin:0;
}
/*Text Related CSS */
h1{
    font-size:48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
p{
    font-size:18px;
}
hr{
    border:black solid 5px;
    color:black;
}
/*Class Related CSS */
.Header{
    background-image:linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url(EdgewoodCollege.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 65%;
    height:40vh;
    color:white;
}
.Header h1{
    padding:10%;
    text-align:center;
}
.Navbar a{
    float:right;
    padding:10px;
    display:inline;
    font-size:24px;
    text-decoration:none;
    color:white;
}
.Navbar a:hover{
    text-decoration:underline;
    color:grey;
}
.CrewBiography{
    max-height:30vh;
    max-width:95%;
    margin:auto;
}
.CrewBiography h2,h3{
    text-align:center;
}
.BioImg{
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    object-position: center;
}
.CrewImg{
    float:left;
    height: 25vh;
    width: 25vh;
}
.CrewInf{
    height: 25vh;
    float:right;
    max-width:85%;
   
}
.CrewImg2{
    float:right;
    height: 25vh;
    width: 25vh;
}
.CrewInf2{
    height: 25vh;
    float:left;
    max-width:85%;
   
}
#CaseyInformation,#CaseyImg{
    border:1px black solid;
}